Package                  Version             
------------------------ --------------------
-cipy                    1.2.2               
-rotobuf                 3.7.1               
-xpython                 4.0.7.post1         
absl-py                  0.7.0               
addict                   2.2.0               
alfred-py                2.5.21              
altgraph                 0.17                
appdirs                  1.4.3               
arviz                    0.7.0               
asciitree                0.3.3               
asteval                  0.9.18              
astor                    0.6.2               
asyncio                  3.4.3               
atomicwrites             1.3.0               
attrs                    19.3.0              
audioread                2.1.8               
Automat                  20.2.0              
backcall                 0.1.0               
bamnostic                1.1.4               
beautifulsoup4           4.8.1               
bintrees                 2.1.0               
bitarray                 1.0.1               
blessings                1.7                 
bokeh                    2.0.2               
Brotli                   1.0.0               
cachetools               4.1.0               
cdflib                   0.3.18              
certifi                  2018.10.15          
cffi                     1.14.0              
cftime                   1.1.3               
chainer                  6.2.0               
chardet                  3.0.4               
click                    7.1.1               
cloudpickle              0.4.1               
colorama                 0.4.1               
constantly               15.1.0              
CoreMS                   14.1.0b0            
cupy-cuda90              6.4.0               
cvlib                    0.2.5               
cycler                   0.10.0              
Cython                   0.29.16             
dask                     2.14.0              
dataclasses              0.7                 
decorator                4.2.1               
defusedxml               0.6.0               
Deprecated               1.2.6               
dill                     0.3.1.1             
docopt                   0.6.2               
e3fp                     1.2.1               
entrypoints              0.3                 
et-xmlfile               1.0.1               
fastrlock                0.4                 
filelock                 3.0.12              
fire                     0.3.1               
Flask                    1.1.2               
Flask-Cors               3.0.10              
fsspec                   0.7.2               
future                   0.17.1              
futures                  3.1.1               
gast                     0.2.0               
getfilelistpy            1.0.7               
google-api-core          1.30.0              
google-api-python-client 2.9.0               
google-auth              1.31.0              
google-auth-httplib2     0.1.0               
google-pasta             0.1.1               
googleapis-common-protos 1.53.0              
googledrivedownloader    0.4                 
grpcio                   1.22.0              
h5py                     2.10.0              
html5lib                 0.9999999           
httplib2                 0.19.1              
hyperlink                21.0.0              
idisplay                 0.1.2               
idna                     2.7                 
imageio                  2.4.1               
imageio-ffmpeg           0.4.2               
imbalanced-learn         0.6.2               
imblearn                 0.0                 
importlib-metadata       0.23                
importlib-resources      5.1.2               
imutils                  0.5.3               
incremental              21.3.0              
inflect                  3.0.2               
intervaltree             2.0.1               
ipaddress                1.0.23              
ipykernel                5.1.4               
ipython                  7.13.0              
ipython-genutils         0.2.0               
ipywidgets               7.5.1               
IsoSpecPy                2.0.1               
itsdangerous             1.1.0               
Jinja2                   2.11.1              
joblib                   0.13.0              
jsonpatch                1.24                
jsonpointer              2.0                 
jsonschema               3.2.0               
Keras                    2.2.2               
Keras-Applications       1.0.4               
keras-contrib            2.0.8               
Keras-Preprocessing      1.0.2               
keras-tqdm               2.0.1               
keras-vis                0.4.1               
kiwisolver               1.2.0               
librosa                  0.7.0               
liknorm                  1.2.4               
llvmlite                 0.30.0              
locket                   0.2.0               
loguru                   0.3.2               
Markdown                 2.6.11              
MarkupSafe               1.1.1               
matplotlib               3.1.1               
md5hash                  0.0.1               
mediapipe                0.8.3               
metaMS                   1.1.1               
mistune                  0.8.4               
mmh3                     2.5.1               
monotonic                1.5                 
more-itertools           7.2.0               
mpmath                   1.1.0               
multiprocess             0.70.9              
nbconvert                5.6.1               
nbformat                 5.0.4               
ndarray-listener         2.0.0               
netCDF4                  1.5.3               
networkx                 2.1                 
nmrfit                   0.1.0               
nmrglue                  0.7                 
nose                     1.3.7               
notebook                 6.0.3               
ntplib                   0.3.4               
numba                    0.46.0              
numpy                    1.16.1              
opencv-contrib-python    4.1.1.26            
opencv-python            3.3.0.10            
openpyxl                 2.6.3               
ordereddict              1.1                 
packaging                20.3                
pandas                   0.25.0              
pandas-datareader        0.8.1               
pandas-plink             2.0.4               
pandocfilters            1.4.2               
parso                    0.1.0               
partd                    1.1.0               
pathlib                  1.0.1               
patsy                    0.5.1               
PeakUtils                1.3.2               
pefile                   2019.4.18           
pickleshare              0.7.5               
Pillow                   5.0.0               
pip                      19.2                
pluggy                   0.13.1              
proglog                  0.1.9               
progressbar              2.5                 
prometheus-client        0.7.1               
promise                  2.3                 
prompt-toolkit           3.0.3               
protobuf                 3.15.7              
psutil                   5.7.0               
psycopg2-binary          2.8.3               
ptpython                 0.41                
py                       1.8.1               
py3Dmol                  0.8.0               
pyasn1                   0.4.8               
pyasn1-modules           0.2.8               
PyBrain                  0.3                 
pycparser                2.19                
pycuda                   2019.1.2            
pydot                    1.4.1               
pygame                   1.9.6               
Pygments                 2.2.0               
PyInstaller              3.6                 
pymc3                    3.8                 
pymongo                  3.9.0               
pymunk                   5.6.0               
PyMySQL                  0.9.3               
pymzml                   2.4.6               
pyntcloud                0.1.2               
pynvml                   8.0.3               
pyodbc                   4.0.19              
pyopenms                 2.5.0               
pyp2p                    0.8.2               
pyparsing                2.4.7               
PyQt5                    5.9.1               
pyqtgraph                0.10.0              
pyquaternion             0.9.5               
pyreadline               2.0                 
pyroute2                 0.5.18              
pyrsistent               0.15.7              
pysam-win                0.5.11              
pyserial                 3.4                 
PySimpleGUI              4.18.0              
PySimpleGUIWeb           0.36.0              
pyswarm                  0.7                 
pyteomics                4.1                 
pytest                   5.4.1               
pytest-runner            5.2                 
python-dateutil          2.8.0               
python-snappy            0.5.1               
pythonnet                2.4.0.dev0          
pytools                  2020.1              
pytz                     2018.3              
PyWavelets               1.1.1               
pywin32                  227                 
pywin32-ctypes           0.2.0               
pywinpty                 0.5.7               
PyYAML                   3.12                
pyzmq                    18.1.1              
qrcode                   7.2                 
qtconsole                4.7.4               
qtoml                    0.3.0               
QtPy                     1.9.0               
regex                    2020.4.4            
remi                     2020.2.5            
requests                 2.20.1              
resampy                  0.2.2               
rook                     0.1.80              
scandir                  1.6                 
scikit-image             0.17.2              
scikit-learn             0.22.2.post1        
scipy                    1.0.0               
sdaxen-python-utilities  0.1.4               
seaborn                  0.9.0               
Send2Trash               1.5.0               
sentry-sdk               0.10.2              
setuptools               46.1.3              
shiboken2                5.14.1              
sip                      4.19.8              
six                      1.16.0              
sklearn                  0.0                 
soupsieve                2.0.1               
SQLAlchemy               1.3.8               
sqlite-bro               0.8.11              
standardiser             0.1.9               
sympy                    1.5.1               
tb-nightly               1.13.0a20190124     
tensorboard              1.8.0               
tensorboardX             1.8                 
tensorflow-datasets      4.2.0               
tensorflow-gpu           1.8.0               
tensorflow-metadata      0.29.0              
tensorflow-tensorboard   1.5.1               
termcolor                1.1.0               
terminado                0.8.3               
testpath                 0.4.4               
texttable                1.6.2               
tf-estimator-nightly     1.13.0.dev2019012416
Theano                   1.0.4               
threadpool               1.3.2               
tifffile                 2020.8.13           
toolz                    0.8.2               
tqdm                     4.43.0              
traitlets                4.3.3               
Twisted                  21.2.0              
twisted-iocpsupport      1.0.1               
typing                   3.6.6               
typing-extensions        3.7.4.2             
umap-learn               0.3.10              
uncertainties            3.1.2               
Unidecode                1.1.1               
uritemplate              3.0.1               
urllib3                  1.24.1              
wcwidth                  0.1.7               
webrtcvad                2.0.10              
websocket-client         0.56.0              
Werkzeug                 1.0.1               
wget                     3.2                 
wheel                    0.30.0              
widgetsnbextension       3.5.1               
win-inet-pton            1.1.0               
win32-setctime           1.0.1               
winpython                1.9.20171031        
wrapt                    1.11.2              
wxPython                 4.0.0               
xarray                   0.15.1              
xgboost                  1.0.2               
xlrd                     1.2.0               
XlsxWriter               1.2.8               
zipp                     0.6.0               
zope.interface           5.4.0               
zstandard                0.13.0              
